log/*
cache/*
nbproject
web/uploads/*
lib/filter/doctrine/psdfPlugin/*
lib/filter/doctrine/psdfPlugin/base/*
lib/form/doctrine/psdfPlugin/*
lib/form/doctrine/psdfPlugin/base/*
lib/model/doctrine/psdfPlugin/*
lib/model/doctrine/psdfPlugin/base/*

